.Container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #222;
}

.Box {
  padding: 1rem;
  background: #333;

  border-radius: 0.5rem;
}

.Form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.Form h1, h2 {
  color: #fff;
  font-weight: bold;
}

.Form input {
  width: 18rem;
  height: 2.5rem;

  background: #212121;
  color: #fff;

  margin: 1rem 0;
  padding-left: 1rem;
}

.Form button {
  width: 7.5rem;
  height: 2.25rem;

  border-radius: .3rem;
  border: 0;

  font-weight: bold;

  background: #212121;
  color: #fff;
}
